name: Dependency updates

on:
  workflow_dispatch:
  schedule:
    - cron: '27 4 * * *' # Run at 4:27 AM (even numbers = higher load = higher chance of GitHub dropping it)

concurrency:
  group: renovate-${{ github.ref }}
  cancel-in-progress: true
    
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.0
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: "mahn-ke/*"
